@charset "UTF-8";
body {
  position: relative;
  margin: 0;
}

* {
  font-family: "Roboto", sans-serif;
}

/*Mobile-first (IPhone 6/7/8 iOS Safari 11*/
header {
  position: relative;
  display: flex;
  flex-direction: column;
}
header div {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

h1 {
  position: relative;
  margin: 0;
  width: 100%;
  font-family: "Shrikhand", cursive;
  text-align: center;
  line-height: 2em;
  box-shadow: 0px 7px 11px -3px rgba(0, 0, 0, 0.53);
}

.fa-arrow-left {
  position: absolute;
  top: 0.75em;
  left: 0.5em;
  font-size: 1.65em;
  font-weight: 900;
  color: #353535;
}

body {
  background-color: #f6f6f6;
}

figure {
  margin: 0;
}
figure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#imgNoteRestaurant {
  height: 16em;
}

@media screen and (min-width: 400px) and (max-width: 768px) {
  h1 {
    width: 100%;
  }
  h1 + p {
    font-size: 1.25em;
  }

  .fa-arrow-left {
    top: 0.5em;
  }

  header figure {
    height: 20em;
  }

  #imgNoteRestaurant {
    height: 100%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  h1 {
    width: 100%;
  }
  h1 + p {
    font-size: 1.25em;
  }

  h1 img {
    width: 35%;
  }

  #imgNoteRestaurant {
    height: 100%;
  }

  h1 + p::before {
    right: 30.5em;
  }

  header figure {
    height: 23em;
  }

  h2:first-of-type + p {
    width: 100%;
    font-size: 1.25em;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1919px) {
  h1 {
    width: 100%;
  }
  h1 img {
    width: 18%;
  }

  #imgNoteRestaurant {
    height: 100%;
  }

  figure {
    width: 100%;
    height: 26em;
  }

  h2 + p {
    width: 100%;
  }

  header h2:last-of-type {
    width: 100%;
    margin: auto;
  }

  header ul {
    flex-direction: row;
    margin: auto;
    margin-top: 5em;
    width: 60%;
    height: auto;
  }
  header ul li {
    align-items: center;
  }
}
@media screen and (min-width: 1920px) {
  h1 {
    width: 100%;
  }
  h1 img {
    width: 18%;
  }

  figure {
    width: 100%;
    height: 26em;
  }

  #imgNoteRestaurant {
    height: 100%;
  }

  h2 + p {
    width: 100%;
  }

  header h2:last-of-type {
    width: 100%;
    margin: auto;
  }

  header ul {
    flex-direction: row;
    margin: auto;
    margin-top: 5em;
    width: 60%;
    height: auto;
  }
  header ul li {
    align-items: center;
  }
}
/*Mobile-first (IPhone 6/7/8 iOS Safari 11*/
footer {
  background-color: #353535;
  padding-left: 2em;
}
footer h3 {
  font-family: "Shrikhand", cursive;
  font-size: 1.2em;
  font-weight: bolder;
  color: white;
  line-height: 3em;
  margin-bottom: 0;
}

footer ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  height: 8em;
}

footer ul li {
  display: flex;
  color: white;
  padding: 0;
  line-height: 1.75em;
  background-color: #353535;
}
footer ul li::before {
  display: block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 0.75em;
  color: white;
  width: 2em;
}

footer li:first-of-type {
  font-weight: bolder;
}
footer li:first-of-type:before {
  content: "";
}

footer li:nth-of-type(2) {
  font-weight: bolder;
}
footer li:nth-of-type(2):before {
  content: "";
}

footer a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 400px) and (max-width: 768px) {
  footer ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  footer ul li {
    line-height: 4em;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  footer ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  footer ul li {
    line-height: 4em;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1919px) {
  footer h3 {
    font-size: 1.5em;
    margin-left: 4em;
    padding-top: 1em;
  }

  footer ul {
    display: flex;
    justify-content: space-around;
  }
  footer ul li {
    line-height: 4em;
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1920px) {
  footer {
    padding: 0;
  }
  footer h3 {
    font-size: 1.5em;
    margin-left: 6.5em;
    padding-top: 1em;
  }
  footer ul {
    display: flex;
    justify-content: space-around;
  }
  footer ul li {
    line-height: 4em;
    font-size: 1.2em;
  }
}
/*Mobile-first (IPhone 6/7/8 iOS Safari 11*/
a[id] {
  text-decoration: none;
  align-self: center;
  text-align: center;
  width: 12.5em;
  margin: 2em 0 2em 0;
  padding: 1.25em 0;
  border-radius: 30px;
  box-shadow: -4px 11px 31px -15px rgba(0, 0, 0, 0.75);
  color: white;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
}
a[id]:hover {
  box-shadow: -4px 11px 31px -5px #000000;
  opacity: 0.75;
}

@media screen and (min-width: 400px) and (max-width: 768px) {
  a[id] {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  a[id] {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1919px) {
  a[id] {
    grid-column: 2/3;
    justify-self: center;
  }
}
@media screen and (min-width: 1920px) {
  a[id] {
    grid-column: 2/3;
    justify-self: center;
  }
}
/*Mobile-first (IPhone 6/7/8 iOS Safari 11*/
main h2 {
  text-align: center;
}

fieldset {
  border: 3px solid #99E2D0;
  display: flex;
  flex-direction: column;
}
fieldset legend {
  font-size: 1.5em;
}
fieldset p {
  display: flex;
  justify-content: space-between;
}

input {
  border: 1px solid black;
}

textarea {
  width: 75%;
  height: 6em;
  box-shadow: none;
}

input[type=submit] {
  width: 6em;
  font-size: 1em;
  color: white;
  background-color: #353535;
}

input[required] {
  box-shadow: none;
}

aside {
  margin-top: 1em;
  padding: 1em 0 1em 1em;
  background-color: #ffffff;
  box-shadow: 0px 7px 11px -3px rgba(0, 0, 0, 0.53);
}
aside h2 {
  font-family: "Shrikhand", cursive;
}

footer h3 {
  font-weight: bolder;
  line-height: 3em;
  margin-bottom: 0;
}

@media screen and (min-width: 400px) and (max-width: 768px) {
  legend {
    margin-left: 2.7em;
  }

  fieldset p {
    align-self: center;
    width: 37em;
  }
  fieldset div {
    align-self: center;
    width: 37em;
    margin: 1em 0;
  }
  fieldset div p {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  main {
    flex-direction: column;
  }

  legend {
    margin-left: 8em;
  }

  fieldset p {
    align-self: center;
    width: 37em;
  }
  fieldset div {
    align-self: center;
    width: 37em;
    margin: 1em 0;
  }
  fieldset div p {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1919px) {
  main > div {
    display: flex;
    justify-content: space-around;
  }
  main > div form {
    width: 50%;
  }
  main > div aside {
    width: 20%;
  }

  form p {
    width: 75%;
  }
  form div {
    align-self: center;
    width: 37em;
    margin: 1em 0;
  }
}
@media screen and (min-width: 1919px) {
  main {
    margin-bottom: 8em;
  }

  main > div {
    display: flex;
    justify-content: space-around;
  }
  main > div form {
    width: 50%;
  }
  main > div aside {
    width: 20%;
  }

  form p {
    width: 75%;
  }
  form div {
    align-self: center;
    width: 37em;
    margin: 1em 0;
  }
}

/*# sourceMappingURL=contact.css.map */
