h2{
    text-align: center;
}

main{
    height: 25em;
}

section{
    margin: 0 1em 0 1em;
    border: 1px solid grey;
    border-radius: 5px;
    padding-left: 1em;
    height: 21em;
    overflow: auto;
}

@media screen and (min-width: 400px) and (max-width: 768px){

    main{
        height: 47em;
    }

    section{
        height: auto;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px){

main{
    height: 30.6em;
}

}

@media screen and (min-width: 1025px) and (max-width: 1919px){

}

@media screen and (min-width: 1920px){

        main{
            height: 47.8em;
            padding-top: 1em;
        }

        section{
            height: 36em;
        }
}